* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card{
    background-color: rgb(38, 38, 80);
    display: block;
    max-width: 800px;
    margin: 30px auto;
    padding: 25px;
    border-radius: 8px;
    border: 3px solid #6e07f5;
}

.batman{
    width: 100%;
    max-width: 400px;
    height: 400px;
    object-fit: cover;
    display: block;
    margin: 20px auto;
    ;
}
h3{
    color: white;
}
p{
    color: white;
}
.etiqueta{
    color: white;
    right: 14px;
}
.card-batman{
    text-align: right;
}