* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Times New Roman", serif;
    background-color: #18a58f;
    border: 6px dashed yellow;
    padding: 50px;
    margin: 48px 63px;
}

h1 {
    color: white;
    font-size: 48px;
    margin-bottom: 30px;
}

p {
    color: white;
    font-size: 23px;
    line-height: 1.2;
    text-align: justify;
}

img {
    width: 180px;
    height: 225px;
    object-fit: cover;
    float: left;
    margin-right: 15px;
    margin-bottom: 10px;
}

.homero {
    color: yellow;
    text-decoration: underline;
}
h2 {
    color: white;
    font-size: 32px;
    clear: both;
    margin-top: 30px;
    margin-bottom: 20px;
}
ul {
    margin-left: 40px;
    margin-bottom: 30px;
    padding-left: 25px;
    list-style-image: url("./flor.png");
}
li {
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
}
a {
    color: white;
}